<!-- gridview -->
<section class="card_information_container">

    <!-- top grid -->
    <div class="card_background"></div>

    <!-- middle grid -->
    <div class="card_information"></div>

    <!-- bottom grid -->
    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://github.com/Kennedy-was-taken/interactive-card-details-form-main/tree/mobile_design">Tokelo</a>.
    </div>

</section>



<!-- z-index: 1, card -->
<section class="image_container">

    <!-- back card -->
    <div class="image_back_card">
        <img src="../assets/images/bg-card-back.png" alt="back card" class="image_default_size" />
        
    </div>

    <!-- front card -->
    <div class="image_front_card">
        <img src="../assets/images/bg-card-front.png" alt="front card" class="image_default_size"/>
    </div>

    <!-- front card details -->
    <div class="image_front_card_details_logo">

       <img src="../assets/images/card-logo.svg" alt="front card logo" class="image_front_card_logo"/>
       <label class="image_front_card_number">0000 0000 0000 0000</label>

       <div class="image_front_card_container">
            <label class="image_front_card_name">Jane Appleased</label>
            <label class="image_front_card_date">00/00</label>
       </div>

    </div>

</section>