<!-- gridview -->
<section class="card_information_container">

    <!-- First grid -->
    <div class="card_background"></div>

    <!-- Second grid -->
    <div class="card_information">
    
        <!-- input area -->
        <div class="info-container">
            
                <!-- name holder -->
                <label>cardholder name</label>
                <input class="cardholder_name" name="card_holder" placeholder="e.g Jane Appleased" maxlength="30" type="text"
                    (keyup)="keyFuncHolder($event)"/>
        
                <!-- number -->
                <label>card number</label>
                <input id="card_number_value" class="card_number" onlyNumber name="card_number" placeholder="e.g 1234 5678 9123 0000" maxlength="16" type="number"
               (keyup)="keyFunc($event)"/>
        
                <!-- date and the cvc -->
                <div class="date_cvc">
        
                    <!-- mm\yy -->
                    <label class="date">exp. Date (mm/yy)</label>
                    <input class="mm" placeholder="MM" type="text" name="exp_mm" placeholder="e.g 01" maxlength="2" (keyup)="keyFuncMonth($event)" />
                    <input class="yy" placeholder="YY" type="text" name="exp_yy" placeholder="e.g 20" maxlength="2" (keyup)="keyFuncYear($event)"/>
        
                    <!-- cvc -->
                    <label class="cvc">cvc</label>
                    <input class="cvc_digit" type="text" placeholder="e.g 000" maxlength="3" name="cvc" type="text" (keyup)="keyFuncCvc($event)" />
        
                </div>
        
                <!-- Confirm button -->
                <button type="click" (ngSubmit)="onSubmit()">Confirm</button>
        </div>
        
        <div class="attribution">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
            Coded by <a
                href="https://github.com/Kennedy-was-taken/interactive-card-details-form-main/tree/mobile_design">Tokelo</a>.
        </div>
    
    </div>

</section>


<!-- z-index: 1, card -->
<section class="image_container">

    <!-- back card -->
    <div class="image_back_card">
        <label class="image_back_card_sec_code" for="cvc">{{cvc}}</label>
    </div>

    <!-- front card -->
    <div class="image_front_card">

        <img src="../assets/images/card-logo.svg" alt="front card logo" class="image_front_card_logo"/>
        <label id="test" class="image_front_card_number" for="card_number" [textContent]="card_number_content">{{card_number}}</label>

       <div class="image_front_card_container">
            <label class="image_front_card_name" for="card_holder" >{{card_holder}}</label>
            <label class="image_front_card_date">{{exp_mm}}/{{exp_yy}}</label>
       </div>

    </div>

</section>